<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>genre</h1>
    <ul th:if="${genres}">
        <li th:each="genre : ${genres}">
            <a th:href="@{/genre(type=${genre})}"><span th:text="${genre}">Name</span></a>

        </li>
    </ul>

    <ul th:if="${books}">
         <li th:each="book : ${books}">
            <span th:text="${book.author}">auther</span>
            <span th:text="${book.title}">title</span>
        </li>
    </ul>
    <div th:if="${noMatch}">
        <h1>No Match</h1>
    </div>

</body>

</html>